<!Doctype html>
<html>
    <head>
      <title>Stats</title>
      <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
      <h1 class="superstyle"> Stats</h1>
      <label for="avatar">Choose a CSV file:</label>

      <form action="{{ url_for('upload_csv_return')}}" method="POST" enctype = "multipart/form-data">

      <input type="file"
      name="file"
      accept=".csv">

      <label for="separator-select">Separator:</label>

      <select name="separator">
      <option value="">--Please choose a separator--</option>
      <option value=",">,</option>
      <option value=";">;</option>
      <option value=":">:</option>
      </select>

      <button type="submit">Upload</button>
    </form>

    <a href="{{ url_for('home') }}">Back to home</a>
    </body>
</html>



