<!Doctype html>
<html>
    <head>
      <title>Registration</title>
      <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
      <h1 class="superstyle"> Registration</h1>
      <h4 class="alert">{{ msg }}</h4>
      <form action="#" method="POST">
        <p>Firstname*</p>
        <input type="text" name="firstname" required="required">
        <p>Lastname*</p>       
        <input type="text" name="lastname" required="required">
        <p>Nickname*</p>
        <input type="text" name="nickname" required="required">
        <div>
          <p>Select a gender</p>
        </div>


        <div>
          <input type="radio" name="gender" value="male"
                 checked>
          <label for="male">male</label>
        </div>
        
        <div>
          <input type="radio" name="gender" value="female">
          <label for="female">female</label>
        </div>
        <button type="submit">OK</button>
    </form>
      <a href="{{ url_for('home') }}">Back to home</a>
    </body>
</html>